# Python
*.pyc
__pycache__/

# Environments
.env
.venv
*.conda
*.yaml
.env/

# Data
data/raw/*
data/processed/*
!data/.gitkeep

# DVC
!.dvc

# MLflow
mlruns/
*.mlruns/

# VSCode
.vscode/

# Models
models/*.pkl
models/*.json
models/*.png

# OS files
Thumbs.db
.DS_Store

